[user]
	email = voutilad@gmail.com
	name = Dave Voutila
[alias]
	diff-remote = diff origin..master
	graph = log --oneline --all --graph --decorate
[push]
	default = simple
[diff]
	compaction-heuristic = true
	noprefix = true
[github]
	user = voutilad@gmail.com
[core]
	editor = vim
	excludesfile = /home/dave/.gitignore_global
